<a href="https://colab.research.google.com/github/RositaElow/ecoledev/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#Exercice 1
def table (n):
  for i in range(10):
    print(f"{i} * {n} = {i*n}")
table (42)

0 * 42 = 0
1 * 42 = 42
2 * 42 = 84
3 * 42 = 126
4 * 42 = 168
5 * 42 = 210
6 * 42 = 252
7 * 42 = 294
8 * 42 = 336
9 * 42 = 378

In [18]:
#Exercice 2
def puissances(n):
  for i in range(10):
   print(f"{n} ** {i} = {n**i}")
print(puissances(5))

5 ** 0 = 1
5 ** 1 = 5
5 ** 2 = 25
5 ** 3 = 125
5 ** 4 = 625
5 ** 5 = 3125
5 ** 6 = 15625
5 ** 7 = 78125
5 ** 8 = 390625
5 ** 9 = 1953125
None

In [22]:
#Exercice 3
def maxi(n, m):
  if n > m:
    return n
  else:
   return m

def maxi2(n,m):
 return n if n>m else m

maxi(21, 42), maxi2(21, 42)

(42, 42)

In [31]:
#exercice 4
def is_prime(n):
 # Return True if n is prime, False otherwise
 if n<2:
   return False
 if n==2:
   return True
 for i in range(2, n):
   # Si i divise ,, alors n n'est pas premier
   if n % i ==0:
     return False
 return True

In [32]:
for n in range(1, 15):
 print(n, "is prime" if is_prime(n) else "is not prime")

1 is not prime
2 is prime
3 is prime
4 is not prime
5 is prime
6 is not prime
7 is prime
8 is not prime
9 is not prime
10 is not prime
11 is prime
12 is not prime
13 is prime
14 is not prime

In [33]:
#Exercice 5
def triangle(a, b, c):
  #Returns True if a, b, c can form a triangle, False otherwise
  longest = maxi(a, b)
  longest = maxi(longest, c)

  two_shortest_sum = a + b + c - longest

  return two_shortest_sum >= longest

In [34]:
triangle (1, 100, 0)

False

In [35]:
#Exercice_les_sequences_1
def min_max_span(seq: list):
  if len(seq) < 2:
    print("Error: length < 2")
    return None
  mini, maxi = seq[0], seq[0]
  for e in seq[1:]:
    mini = min(e, mini)
    maxi = (e, maxi)
  return maxi - mini

In [36]:
min_max_span([1])

Error: length < 2

In [ ]:
min_max_span([2, 6, 7])

In [40]:
#Exercice 5
def exo5(seq):
  for i, n in enumerate(seq):
    seq[i] = i * n

In [41]:
a = [2, 42, 21, 1729]
exo5(a)
a

[0, 42, 42, 5187]

#5. Les fonctions

In [ ]:
5! = 5*4*3*2*1
6! = 6*5*4*3*2*1 = 6 * 5!

In [46]:
def factorial(n):
 if n < 0:
  return None
 if n == 0:
  return 1
 return n * factorial(n-1)

In [49]:
for i in range(-2, 5):
 print(f"{i}! = {factorial(i)}")

-2! = None
-1! = None
0! = 1
1! = 1
2! = 2
3! = 6
4! = 24

#FIB

In [52]:
def fib(n):
 if n < 0:
  return None
 if n <= 1:
  return n
 return fib(n-1) + fib(n-2)

In [55]:
for i in range(7):
 print(f"fib({i}) = {fib(i)}")

fib(0) = 0
fib(1) = 1
fib(2) = 1
fib(3) = 2
fib(4) = 3
fib(5) = 5
fib(6) = 8

In [56]:
%%time
fib(40)

CPU times: user 56.5 s, sys: 0 ns, total: 56.5 s
Wall time: 57 s

102334155

In [58]:
def memo_fib(n, memo = {0:0, 1:1}):
  if n in memo:
    return memo[n]
  memo[n] = memo_fib(n-1, memo) + memo_fib(n-2, memo)
  return memo[n]

In [60]:
for i in range(7):
 print(f"memo-fib({i}) = {memo_fib(i)}")

memo-fib(0) = 0
memo-fib(1) = 1
memo-fib(2) = 1
memo-fib(3) = 2
memo-fib(4) = 3
memo-fib(5) = 5
memo-fib(6) = 8

In [61]:
%%timeit
memo_fib(100)

177 ns ± 39.8 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)